*{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
}

html{
    margin: 0;
    padding: 0; 
    background-color: #fff;
}

body{
    margin: 0px;
    padding: 0px;
}

.layar-dalam {
    width: 1000px;
    margin: auto;
}

.layar-penuh{
    width: 100%;
}

nav{
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
}

nav.logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
}

nav .logo img{
    vertical-align: middle;
    width: 120px;
}

nav.menu{
    float: right;
    height: 60px;
    max-width: 600px;
}

nav .menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav .menu ul li{
    list-style-type: none;
    float: left;
    line-height: 60px;
}

nav ul li a{
    float: left;
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    text-decoration: underline;
}

/* header */
header{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}


.btn{
    float: right;
    font-size: 30px;
    color: white;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    nav .logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 852px){
    .btn{
        display: block;
    }
    ul{
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 80px;
        left: -100%;
        text-align: center;
        background: rgb(0, 0, 0,0.2);
        transition: all .5s;
    }
    #check :checked ~ ul{
        left: 0;
    }
    nav ul li {
        margin: 50px 0;
        line-height: 30px;
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a .active, a:hover {
        color: white;
        background: rgba(0,0,0,0.6);
    }
    
}

